<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
</head>
<body>
    <h1>Cadastro de Pessoas</h1>
    <form method="post" action="~/Pessoa/Create">
        <label>Nome</label>
        <input type="text" id="Nome" name="Nome" /> <br/>
        <label>Sobrenome</label>
        <input type="text" id="Sobrenome" name="Sobrenome" /><br />
        <input type="submit" value="Submit" /><br/>
        <input type="button" value="Ajax" onclick="enviarDados()"/>
    </form>
    <script>
        function enviarDados(){
            $.post("Create", {
                Nome: $("#Nome").val(),
                Sobrenome: $("#Sobrenome").val()
            }).done(function (data) {
                alert("Json retornado: " + data);
                $("<ul/>", {
                    html: items.join("")
                }).appendTo("body");
            });
        }
    </script>
</body>
</html>
