<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <h1>Inclusão de Tipo de Despesa</h1>
    <form method="post" action="~/TipoDeDespesa/Create">
        <label>Descrição</label><br/>
        <input type="text" id="Descricao" name="Descricao" /><br/>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>
