<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cadastro de produto</title>

    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>

    <style>
        div {
            padding: 20px;
        }
        label {
            font-family: Arial;
            font-size: 16px;
        }
        table, th, td {
		    border: 1px solid #eee;
		    border-collapse: collapse;
		}
		th,td {
		    padding: 15px;
		}
    </style>

</head>
<body>

    <label>Nome: </label>
    <input type="text" id="Nome" />
    <input type="button" value="Enviar" onclick="incluir()" />

    <div class="div">
        <table id="table"></table>
    </div>

    <script>
        function incluir() {
            $.post("/Home/Create", {
                Nome: $("#Nome").val()
            }).done(function (data) {

                $.each(data, function (index, data) {
                    $('#table').append('<tr><td>' + data.Nome + '</td><td><input type="button" value="Editar" onclick="Editar()"/></td><td><input type="button" value="Excluir" onclick="Excluir()"/></td></tr></table>');
                    //console.log(data);
                });

                limparCampos();
                alert("Salvo com sucesso!");
                
                //alert("Json retona: " + data);
            });
        }

        function Excluir(produtoID) {
            var confirmado = confirm("Confirma a exclusão do Produto?");
            if (confirmado == true) {
                $.post(
                   '/Home/Excluir',
                   { id: produtoID }
                ).done(function (produtos) {
                    limparCampos();
                    listarProdutos(produtos);
                });
            }
        }

        function limparCampos() {
            $('input[name="Nome"]').val('');
        }


        function limparCampos() {
            $('input[name="#Name"]').val('');
        }
    </script>

</body>
</html>