<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Página HTML em ASP.NET</h1>

    <form action="~/pagina2.cshtml" method="post">

        <input type="text" name="valor" />
        <input type="text" name="v1" />
        <input type="text" name="v2" />
        <input type="submit" value="Enviar" />

    </form>

</body>
</html>
