<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inclusão</title>
</head>
<body>
    <div> 
        <form>
            <label>Código:</label><br />
            <input type="text" name="Codigo" /><br />

            <label>Ativo?</label><br />
            <input type="text" name="IsAtivo" /><br />

            <label>Nome:</label><br />
            <input type="text" name="Nome" /><br />

            <input type="submit" value="Incluir" onclick="inlcuir()" />
        </form>
    </div>
</body>
</html>
