
<!DOCTYPE html>

<html>
<head>
    <script src="/Scripts/JavaScript.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Inclusão</h1>
    <div> 
        <form>
            <label>Nome:</label><br />
            <input type="text" name="Nome" /><br />

            <label>Ativo:</label><br />
            <input type="text" name="IsAtivo" /><br />

            <input type="submit" value="Incluir" onclick="incluir()" />
        </form>

        <div id="divContent"></div>

    </div>
</body>
</html>
