<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <h1>Inclusão de Tipo de Despesa</h1>

    <form action="~/TipoDeDespesa/Create" method="post">
        <label for="Descricao">Descrição: </label><br />
        <input id="Descricao" type="text" name="Descricao" /><br />
        <input type="submit" value="Submit" />
    </form>
</body>
</html>
